# Настройка правил формата
--allman false
--header strip
--indent 4
--nospaceoperators
--indentcase true
--commas inline
--wraparguments after-first
--wrapcollections after-first
--closingparen same-line
--elseposition same-line
--empty void
--exponentgrouping true
--decimalgrouping 3
--hexgrouping 4
--octalgrouping 4

# Отключение правил (например, конфликт со SwiftLint)
--disable andOperator, strongOutlets, initCoderUnavailable

# Исключение выбранных директорий из проверки 
--exclude Carthage/**, Resources/**, Generated/**

